---
layout: default
---
{% for post in paginator.posts %}
<section>
    <h3>
    <a href='{{ site.url }}{{ post.url | relative_url }}' title='{{ post.title }}'>
      {{ post.title }}
    </a>
  </h3>
  <p class = "post-meta">{{ post.date | date: site.date_format }}</p>
  <p>{{ post.excerpt | strip_html | truncate: 250 }}</p>
{% endfor %}
    
{% if paginator.previous_page %}
<a href='{{ site.url }}{{ paginator.previous_page_path | relative_url}}'>Previous</a>
{% endif %}

&mdash; {{ paginator.page }} of {{ paginator.total_pages }} &mdash;

{% if paginator.next_page %}
<a href='{{ site.url }}{{ paginator.next_page_path | relative_url }}'>Next</a>
{% endif %}

